<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html ng-app="appMassMailer">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" href="css/bootstrap.css"/>
        <link rel="stylesheet" href="css/custom.css"/>
        <link rel="stylesheet" href="css/toastr.css"/>

        <style>

        </style>
        <title>MassMailer</title>
    </head>
    <body style="background-color: #3d464f;"  >




        <div class="container-fluid" ng-controller="MenuCtrl" style="background-color: #3d464f ;padding: 1em;" >
            <div class="row">
                <div class=" col-lg-11 col-lg-offset-1 clearfix">
                    <ul class="nav nav-pills">
                        <li   ng-class="getClass('/datasource')"><a href="#datasource">DataSources</a></li>
                        <li ng-class="getClass('/campain/new')"  ><a href="#campain/new">Nová kampaň</a></li>
                        <li ng-class="getClass('/campains')"  ><a href="#campains">Kampaně</a></li>
                        <li ng-class="getClass('/other')"  ><a href="#datasource">Další</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading clearfix" style="margin-bottom: 0px; padding: 0">
                <ul class="breadcrumb col-lg-10 col-lg-offset-1" style="margin-bottom: 0px;" ng-controller="MenuCtrl">
                    <li ng-repeat="breadcrumb in getAllB()">
                        <span class="divider">/</span>
                    <ng-switch on="$last">
                        <span ng-switch-when="true">{{breadcrumb.name}}</span>
                        <span ng-switch-default><a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a></span>
                    </ng-switch>
                    </li>
                </ul>


            </div>
            <div class="panel-body">
                <div class="panel panel-primary panel-in col-lg-2" style="padding: 0;background-color: #3d464f; min-height: 500px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Navigace</h3>
                    </div>
                    <ul class="nav" style="background-color: #3d464f;" ng-controller="MenuCtrl">
                        <li ng-class="getClass('/datasource')"  ng-repeat="item in getSubmenu()" ><a ng-href="{{item.link}}"> <span class="glyphicon {{item.glyph}}" > {{item.name}}</span></a></li>

                    </ul>      
                </div>



                <div  ng-view class="col-lg-10">



                </div>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-route.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>
        <script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>

        <script src="js/massmailer.js"></script>
        <script src="js/menu.js"></script>
        <script src="js/datasource.js"></script>
        <script src="js/campain.js"></script>
        <script src="js/fileUpload.js"></script>
        <script src="js/entityService.js"></script>
        <script src="js/users.js"></script>
        <script src="js/breadcrumb.js"></script>
        <script src="js/ngdirectives.js"></script>
        <script src="js/toastr.js"></script>
        <script src="js/massmailer.js"></script>

    </body>
</html>
