
<div class="modal-header" >
    <h3 style="">Příloha</h3>
</div>
<div class="modal-body " >
    <form class="form-horizontal"  name="atForm"  >

        <div class="row"  style="padding-top: 1em">

            <div class="form-group col-md-8">
                <label class="control-label col-sm-6" >Nahrát soubor</label>
                <div class="col-sm-4">
                    <input type="file" ng-model="files" file-change id="file" >
                </div>
                <div ng-show="loadingfile" >
                    <img src="img/ajax-loader.gif" width="220" height="19" alt="ajax-loader"/>
                </div>
            </div>  
            <div class="col-md-4 well" >
                Název souboru:  {{attachmentName}}<br/>Typ souboru: {{ attachmentFileType}} 
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-4"   for="attachmentOutputName">Název přílohy</label>
                <div class="col-lg-8">
                    <input  class="form-control input-sm" type="text" id = "attachmentOutputName" name="attachmentOutputName" ng-model="attachment.attachmentOutputName"  interpol-model="attachmentOutputName" server-error="attachmentOutputName"/>

                </div>

            </div>

            <div class="form-group">
                <label class="control-label col-lg-4"   for="attachmentOutputType">Převést do</label>
                <div class="col-lg-4">
                    <select class="form-control input-sm" id="attachmentOutputType"  ng-model="attachment.attachmentOutputType" ng-options="f.value as f.name for f in outputFormats">
                    </select>
                </div>

            </div>



            <div class="form-group">
                <label class="control-label col-lg-4"  for="customizeAttachments">Přizpůsobit přílohu</label>
                <div class="col-lg-8">
                    <input  class="input-sm"  type="checkbox" ng-change="customizeAttachment()" id = "customizeAttachments" name="customizeAttachments" ng-model="attachment.customizeAttachments"  interpol-model="customizeAttachments" server-error="customizeAttachments"/>

                </div>
            </div>




        </div>  

        <div class="form-group">
            <input   type="hidden" id = "attachmentFileSystemName" name="attachmentFileSystemName" ng-model="attachment.attachmentFileSystemName" />
            <input   type="hidden" id = "attachmentName" name="attachmentName" ng-model="attachment.attachmentName" />
            <input   type="hidden" id = "attachmentType" name="attachmentType" ng-model="attachment.attachmentFileType" />
        </div> 

    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

