
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Kampaně</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div  class="row">
    <div class="col-lg-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-plus-square fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <p class="h2">Vytvořit kampaň</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <a href="#campain/new">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            Vytvořit kampaň
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
            <div class="col-lg-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-edit fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <p class="h2">2</p>
                         <p>Rozpracované kampaně</p>
                    </div>
                </div>
            </div>
            <a href="#campains/type/EDIT">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                           Zobrazit další
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
        <div class="col-lg-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-gears fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <p class="h2">2</p>
                         <p>Odesílané kampaně</p>
                    </div>
                </div>
            </div>
            <a href="#campains/type/INPROGRES">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                           Zobrazit další
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
        
        <div class="col-lg-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-gears fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <p class="h2">2</p>
                         <p>Odeslané kampaně</p>
                    </div>
                </div>
            </div>
            <a href="#campains/type/sent">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                           Zobrazit další
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
</div>


