
<div ng-controller="CampainEditController">
    <div class="modal-header">
        <h3 style="">Kampaň (email)</h3>
    </div>
    <div class="modal-body ">
        {{campainName}}
        <form novalidate class="form-horizontal" ng-submit="save()" name="campainForm"  >
            <input type="hidden" ng-model="Campain.id" interpol-model="id" server-error="id" name="id"/>
            <div class="form-group">
    
                <label class="control-label" for="campainName">Název</label>
                <input type="text" id = "campainName" name="campainName" ng-model="Campain.campainName"  interpol-model="campainName" server-error="campainName"/>
             
                <div class="errors"  show-inter="campainName" >
                    <error-message error="campainName" ></error-message>   
                </div>
            </div>  
            <br/>
            <div class="form-group">
                <label class="control-label" for="dataSourceId">Datový zdroj</label>
                <input type="text" id = "dataSourceId" name="dataSourceId" ng-model="Campain.dataSourceId"  interpol-model="dataSourceId" server-error="dataSourceId"/>
                <div class="errors"  show-inter="dataSourceId" >
                    <error-message error="dataSourceId" ></error-message>   
                </div>
            </div>  
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>

