

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Hromadné emaily : {{ctype}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div  class="row">

    <table  class="table table-striped table-condensed"  >
        <thead>
            <tr>
                <th><div class="input-group input-group">
            <input class="form-control" placeholder="Search"  on-enter-blur on-blur-change="search(f.searchString)"  ng-indexname="f.index"  ng-model="f.searchString" type="text" />
            <div class="input-group-btn">
                <button class="btn btn-default btn"  ng-click="search(f.searchString)" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </th>
        <th>
        </th>
        <th></th>
        <th class="text-right"><a class="btn btn-primary  pull-right"ng-href="#/campain/new"><i class="icon-plus-sign icon-white"></i> Nový zdroj</a></th>
        </tr>
        <tr>
            <th class="col-lg-4 text-info">Název</th>
            <th class="text-right col-lg-2 text-info">Počet záznamů</th>
            <th ng-show="{{c.status === 'FINISHED'}}"  >Počet odeslaných</th>
            <th class="text-right text-info">Akce</th>
        </tr>

        </thead>
        <tfoot>
            <tr><td colspan="4">
        <pagination  page="currentPage" on-select-page="paginate(page-1)" ></pagination>
        </td>
        </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="c in campains" >
                <td  class="col-lg-4" ><b>{{c.campainName}}</b></td>
                <td class="text-right col-lg-2" >{{c.recordsCount}}</td>
                <td class="text-right col-lg-2" ng-show="{{c.status === 'FINISHED'}}"  >{{c.recordsSent}}</td>
                <td class="text-right col-lg-1">
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning dropdown-toggle dr" data-toggle="dropdown">Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-left" >
                            <li ng-show="{{c.status === undefined|| c.status==='EDIT' }}"> <a ng-href="#/campain/{{c.id}}"  >Zobrazit emaily</a></li>
                            <li ng-show="{{c.status === undefined|| c.status==='EDIT' }}"> <a ng-href="#/campain/{{c.id}}"  >Upravit</a></li>
                            <li ng-show="{{c.status === 'EDIT'}}"  ><a ng-click="send(c)"  >Odeslat</a></li>
                            <li class="divider"></li>
                            <li ng-show="{{c.status === 'EDIT'}}"  ><a ng-click="openDeleteDialog(c.id, c.campainName)" >Smazat</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>

    <div>
    </div>
</div>





