<div class="row">
<h3>Zdroje dat</h3>
    <div class="col-md-8" >
       <a class="btn btn-primary pull-right" ng-click="openForm()"><i class="icon-plus-sign icon-white"></i> Nový zdroj</a>
    </div>
</div>
<div class="row">
    <div class="col-md-8" >
 <table  class="table table-condensed"  >
       <thead>
 
        <tr>
        <th>
            Název
          
        </th>
        <th>
            Počet záznamů
        </th>
        <th class="text-right">
            Akce
        </th>
        </tr>
       </thead><tfoot>
           <tr><td colspan="3">
                        <pagination  page="currentPage" on-select-page="paginate(page-1)" ></pagination>
               </td>
           </tr>
       </tfoot>
        <tbody>
            <tr ng-repeat="c in campains" >
                <td>{{c.campainName}}</td>
                <td class="text-right">
                    <div class="btn-group text-left">
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" >
                            <li><a ng-click="openBrowse(c.id)"  >Zobrazit data</a></li>
                            <li><a ng-click="openForm(c.id)"  >Upravit</a></li>
                            <li class="divider"></li>
                            <li><a ng-click="openDeleteDialog(c.id, c.campainName)" >Smazat</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
    
<div>
</div>
</div>